page-imageDetail {
	.content {
		background-color: #222222;
	}
	#bg-img {
  width: auto;
  max-height: 75vh;
  max-width: 100%;
  cursor: cell;
}
.wrapper {
  position: relative;
}
.box {
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  border: 2px solid red;
  background-color: rgba(255,0,0,0.1);
  cursor: grab;
  &.active {
    border: 2px solid blue;
    background-color: rgba(0,0,255,0.1);
    z-index: 2;
  }
  .corner {
    position:absolute;
    height: 15px;
    width: 15px;
    z-index: 10;
    background-color: green;
    opacity: 0;
    &.top-left {
      top: -5px;
      left: -5px;
      cursor: nw-resize;
    }
    &.top-right {
      top: -5px;
      right: -5px;
      cursor: ne-resize;
    }
    &.bottom-left {
      bottom: -5px;
      left: -5px;
      cursor: sw-resize;
    }
    &.bottom-right {
      bottom: -5px;
      right: -5px;
      cursor: se-resize;
    }
  }
  .side {
    position: absolute;
    z-index: 4;
    background-color: yellow;
    opacity: 0;
    &.top {
      height: 10px;
      width: 100%;
      top: -5px;
      cursor: n-resize;
    }
    &.bottom {
      height: 10px;
      width: 100%;
      bottom: -5px;
      cursor: s-resize;
    }
    &.left {
      height: 100%;
      width: 10px;
      left: -5px;
      cursor: w-resize;
    }
    &.right {
      height: 100%;
      width: 10px;
      right: -5px;
      cursor: e-resize;
    }
  }
  .center {
    min-height: 100%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    background-color: blue;
    opacity: 0;
  }
}
}