<ion-header>
  <ion-navbar color="white" class="navbar">
    <ion-buttons left>
      <button ion-button (click)="toggleMenu()">
        <ion-icon color="#0079AD" name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <div id="logo" (click)="initialiseAlert()">
			<img src="https://static1.squarespace.com/static/55ab8f1fe4b031edd6fa0ed9/t/599ea390f7e0aba9e964b91f/1503990062200/?format=1500w" />
		</div>
    <ion-buttons right>
      <button ion-button (click)="switchArchiveMode()">
          <ion-icon color="$primary" name="archive"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item class="header">
    <p center>You got
      <ion-badge center item-end>{{issuesNumber}}</ion-badge> alert{{mode}}</p>
  </ion-item>



  <ion-item *ngFor="let issue of displayIssues" (click)="openIssue(issue)" class="issue">
    <h2 class="product">{{issue.product}}</h2>
    <!--<ion-row>
      <ion-icon right class="arrow" name="arrow-forward"></ion-icon>
    </ion-row>-->
    <h4 class="status">{{issue.status}} {{issue.feedback}}</h4>
    <h4 class="name">{{issue.name}}</h4>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-scroll style="white-space: nowrap; height: 50px" scrollX="true">
    <ion-segment style="width: 300%;">
      <button *ngFor="let tag of tags" (click)="filterAlert(tag)" class="filter" ion-button>
            <h4>{{tag}}</h4>
        </button>
    </ion-segment>
  </ion-scroll>
</ion-footer>