<ion-header>
  <ion-navbar color="white" class="navbar">
    <ion-buttons left>
      <button ion-button (click)="toggleMenu()">
        <ion-icon color="#0079AD" name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <div id="logo" (click)="initialiseAlert()">
			<img src="https://static1.squarespace.com/static/55ab8f1fe4b031edd6fa0ed9/t/599ea390f7e0aba9e964b91f/1503990062200/?format=1500w" />
		</div>
    <ion-buttons right>
      <button ion-button (click)="savePicture()">
          <ion-icon color="$primary" name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<!-- The image grid is dynamic. When the user take a pic or choose a pic from his library then a new pic is add
	 This is done by linking the div with _images by using *ngFor
	 -->

<ion-content>
	<div class="image__grid" id="grid">
		<div class="image__square" *ngFor="let image of _images">
			<img [src]="image" />
		</div>
	</div>

	<!-- The fab button are used to add a pic from the camera or the library
	 -->

	<ion-fab right bottom>
		<button ion-fab color="danger" icon-only>
			<ion-icon name="add"></ion-icon>
		</button>
		<ion-fab-list side="top">
			<button ion-fab color="danger" icon-only (click)="getCameraPicture()">
				<ion-icon name="camera"></ion-icon>
			</button>
			<button ion-fab color="danger" icon-only (click)="getLibraryPicture()">
				<ion-icon name="image"></ion-icon>
			</button>
		</ion-fab-list>
	</ion-fab>
</ion-content>