page-canvas {
	.navbar {
		color: white;
		height: 50px;
		#logo {
			height : 40px;
			width: 40px;
			display: flex;
			position: relative;
			margin-right: auto;
			margin-left: auto;
		}
		ion-icon {
			color: #29a6cc;
			width: 20px;
		}
		.button {
			background-color: white;
		}
	}
    .image__grid {
		margin-top: 5px;
		overflow: hidden;
		.image__square:nth-child(4n+4){
			padding-right: 5px;
		}
		.image__square {
			height: 25vw;
			width: 25vw;
			float: left;
			padding: 0px 0px 5px 5px;
			img {
			    height: 100%;
    			    width: 100%;
    			    object-fit: cover;
			}
		}
	}
}